@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 253, 240);
    font-family: 'Barlow', sans-serif;
}

#layout {
    margin: 2rem auto 0;
    padding: 0 1rem;
    max-width: 800px;
    min-height: calc(100vh - 140px);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    border-bottom: 2px solid rgb(255, 159, 128);
}

header {
    margin-bottom: 20px;
}

header ul {
    margin: auto; 
    text-align: center;
}     

header li {
    display: inline-block;
    margin-right: 1rem;
}

nav li {
    margin: 15px;
}

#toc {
    margin-bottom: 100px;
}

/* 'header' added to outweight 'a:hover' rule above */
header h1 {
    text-align: center;
    font-weight: 600;
    color: black;
}

h2 {
    color: rgb(67, 159, 208);
    margin-top: 50px;
    font-weight: 400;
}

h3 {
    color: rgb(255, 159, 128);
    margin-bottom: 10px;
    font-weight: 600;
}

h2, h3 {
    font-size: 1.7em;
}

h1, h3, nav a, .section_description {
    font-family: 'Work Sans', sans-serif;
}

h2, h4, thead th {
    font-family: 'Quattrocento Sans', sans-serif;
}

.section_header {
    margin: 50px 0 20px;
}

.incomplete_section::after {
    content: ' (Coming Soon)';
}

.table_container {
    overflow-x: auto;
}

.description_container {
    margin-bottom: 20px;
    border: 1px solid rgb(144, 210, 245);
}

.description_container h4 {
    font-size: 1.2em;
    background-color: rgb(144, 210, 245);
    padding: 10px;
}
  
.description_container p, 
.description_container ul {
    padding: 7px 10px;
    line-height: 1.3;
}

.description_container p {
    font-size: 1em;
    background-color: white;
}
  
.description_container ul {
    background-color: rgb(235, 232, 232);
    font-size: .9em;
}

.description_container li a {
    font-family: 'Work Sans', sans-serif;
}

.description_container li::before {
    content: ' \2022 ';
}

table {
    width: 100%;
}
  
table, th, td {
    border: 1px solid rgb(144, 210, 245);
    border-collapse: collapse;
    text-align: center;
    /* margin: 10px 0; */
    line-height: 1.2;
}

/* tbody {
    font-size: .95em;
} */

.row_header {
    font-weight: 400;
}

thead th:first-of-type, 
thead th:first-of-type + th,
.row_header, 
.row_header + td {
    border-right: 1px solid rgb(94, 183, 232);
}

th {
    padding: 10px;
}

thead th {
    background-color: rgb(144, 210, 245);
    font-weight: 700;
    font-size: 1.2em;
}
  
td {
    height: 35px;
    padding: 5px 10px;
}

td:last-child {
    padding-right: 10px;
}

tr:nth-of-type(even) {
    background-color: rgb(235, 232, 232);
}
  
tr:nth-of-type(odd) {
    background-color: white;
}
  
tr th:first-child, tr td:first-child {
    width: 20%;
    padding: 5px;
}

kbd {
    font-family: 'Inconsolata', monospace;
    background-color: rgb(34, 34, 34);
    color: white;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
    font-size: .9em;
}

footer {
    height: 100px;
    margin: 40px 0 0;
    text-align: center;
    color: rgb(94, 183, 232);
    background-color: rgb(94, 183, 232);;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 253, 240);
}

footer a {
    color: rgb(255, 253, 240);
}

footer span {
    display: block;
}

#about p {
    margin: 25px 0;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5;
}

.current-section.current-section {
    color: rgb(144, 210, 245);
}

.highlight.highlight {
    /* font-size: 1.2em; */
    color: rgb(144, 210, 245);
}

@media screen and (max-width: 672px) {
    body {
        font-size: .8em;  
    }
  
}